@font-face {
  font-family: DMSans;
  src: url(./assets/DMSans.ttf);
}

@font-face {
  font-family: DMSerif;
  src: url(./assets/DMSerifDisplay.ttf);
}

@font-face {
  font-family: Juice;
  src: url(./assets/Juice.ttf);
}

@font-face {
  font-family: Bahnschrift;
  src: url(./assets/Bahnschrift.TTF);
}

:root {
  --purple: #8a6393;
  --light-purple: #d1c5dd;
  --light-green: #a4edc5;
  --green: #167862;
  --dark-blue: #232c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0c11;
}

.main-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
  width: 70%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.185);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/background.jpg);
}

.hades-image,
.hades-image > img {
  height: 100%;
  position: absolute;
}

.form-section {
  height: 100%;
  max-width: 40rem;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 2% 3rem 2%;
  padding-bottom: 1rem;
  color: white;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  gap: 1.8rem;
}

.hades-text {
  font-size: 7.5rem;
  font-family: Juice, fantasy;
  letter-spacing: 0.4rem;
  color: var(--light-purple)
}

.logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.5rem;
  width: 10.5rem;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  background-color: var(--light-purple);
  border-radius: 100%;
}

img#cerberus {
  height: 100%;
  width: 100%;
  margin: 0.2rem 0 0 0.75rem;
}

.form-descriptions {
  width: 80%;
  margin: -0.8rem 0 2.5rem 0.25rem;
  padding-bottom: 2.35rem;
  border-bottom: 0.17rem solid var(--light-green);
  text-align: center;
  color: white;
}

.create-acc {
  font-family: Juice, fantasy;
  font-size: 3.6rem;
}

.create-acc > span {
  margin-left: 0.35rem;
  font-family: DMSans, sans-serif;
  font-size: 3.7rem;
  color: var(--light-green);
}

.sign-in {
  font-family: Bahnschrift, serif;
  font-size: 1.15rem;
  font-weight: 500;
}

.sign-in > a {
  color: var(--light-green);
  text-decoration: none;
}

.sign-in > a:hover,
.sign-in > a:focus {
  text-decoration: underline;
  outline: none;
  box-shadow: 0 0 0 2px #0f1015,
              0 0 0 4px var(--light-green);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
}

.label-wrapper {
  position: relative;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
}

form label {
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: DMSans, sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  width: max-content;
  color: rgb(197, 203, 212);
}

.names,
.passwords {
  display: flex;
  gap: 1.5rem;
}

input,
button {
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  outline: none;
  color: white;
  width: 100%;
  border: none;
  background-color: var(--dark-blue);
}

input {
  padding-top: 1.75rem;
  padding-bottom: 0.6rem;
  box-shadow: inset 0 0 0 black;
}

input:not(:focus):not(:placeholder-shown):invalid,
.error {
  box-shadow: inset 0 -3px 0 0px rgb(182, 68, 68);
} 

.error-wrapper {
  position: relative;
  margin-top: -1.5rem;
}

.pass-error-msg {
  display: none;
  position: absolute;
  color:rgb(228, 109, 109);
  font-size: 0.8rem;
  left: 0.65rem;
  top: 0.2rem;
}

input:focus {
  box-sizing: border-box;
  box-shadow: inset 0 -3px 0 0px var(--light-green);
  transition: box-shadow 0.25s ease-out;
}

button.submit {
  font-family: DMSerif, serif;
  background-color: var(--green);
  cursor: pointer;
}

button:hover {
  background-color: #23816d;
}

button:focus {
  box-shadow: 0 0 0 2px #0f1015,
              0 0 0 3px var(--light-green);
}
